.draggable { width: 90px; height: 90px; padding: 0.5em; float: left; margin: 0 10px 10px 0;}
  #draggable, #draggable2, #draggable3 { margin-bottom:20px; border:2px solid #ccc;}
  #draggable { cursor: n-resize; }
  #draggable2 { cursor: e-resize; }
  #draggable3 { cursor: n-resize; }
  #containment-wrapper { 
    margin: 200px;
    width: 400px; 
    height:300px; 
    border:3px solid #ccc; 
    border-color: black;
    padding: 30px; 
    text-align: center;
    background-color: green;
 }
